parameters:
    level: 6
    paths:
        - src
    
    # Exclusions
    excludePaths:
        - vendor
        - includes/legacy
        - public_html/includes
    
    # Ignored error patterns
    ignoreErrors:
        # Legacy code compatibiliteit
        - '#Function (mysql_|mysqli_) not found#'
        - '#Call to undefined function (container|database|db)#'
        
        # PSR-15 patterns
        - '#Parameter .* of method .* has no typehint specified#'
        
        # Development debugging
        - '#Function (var_dump|print_r|error_log) should not be used#'
    
    # Check for missing typehints
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    
    # Report unused private properties/methods
    reportUnmatchedIgnoredErrors: false 